:root {
  --statusBarBackgroundColor: #595959;

  --rose: #FFF8F8;
  --lapide: #EFEEEE;
  --stumato: #F8F8F8;
  --psychopath: #F2F2F2;
  --cintilante: #E6E6E6;
  --esbranquicado: #F5F5F5;
  --prata: #BFBFBF;
  --tracinho: #E5E5E5;
  --grisalho: #C4C4C4;
  --glorioso: #B3B3B3;
  --winchester: #D9D9D9;
  --resplandecente: #CCCCCC;
  --articMonkeys: #777676;
  --acinzentado: #797878;
  --alvacento: #7A7A7A;
  --epigrafe: #7C7C7C;
  --cinza: #565656;
  --piano: #3F3F3F;
  --chiaroscuro: #1D1D1D;

  --vermelho: red;
  --branco: white;
  --preto: black;

  --fauna: #45BF60;
  --verde: #219653;
  --vegetal: #34BF49;
  --nostalgia: #09A66D;
  --alface: #236422;
  --hodierno: #226730;
  --brocolis: #20652E;
  --seivoso: #186D3D;
  --vinhas: #26AB60;
  --verdoengo: #2AC06B;

  --claretto: #DFE6E9;

  --ensolarado: #E2B30D;
  --alaranjado: #E98C00;
  --laranjado: #F2A228;
  --aquecido: #C58E00;
  --dourado: #FF9B05;
  --laranja: #F19A15;
  --aureola: #FFC46B;
  --aureo: #FFAF38;

  --barro: #7A5324;

  --pinkGlamour: #FF7675;

  --vinho: #CF2626;

  --info: #74B9FF;
  --anil: #0596FF;
  --aquarela: #218196;
}